.header {
    grid-row: 1 / 2;
    grid-column: 1 / 13;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    padding: 0 5%;
    button {
        width: 6rem;
        height: 3rem;
        background-color: rgb(202, 0, 0);
        border-radius: 0.5rem;
        border: none;
    }
}
.logo {
    img {
        height: 5rem;
    }
}